.panel.panel.panel-default
  .panel-body
    %table.table.table-striped.table-hover
      %thead
        %h4 Inmuebles Solicitados Recientemente
      - @requests.each do |request|
        %tbody
          %tr
            %td
              = friendly_date request.created_at
            %td
              = link_to request.title.truncate(42), request_path(request)
            %td
              -# request.location_id
            %td
              = request.price
    = link_to raw('Ver todos <i class="fa fa-long-arrow-right"></i>'), requests_path