.row
  .titulo
    %h1
      %b Venda y Compre Inmuebles en Bolivia.
.row
  .col-md-2
    .btn-group
      %ul.nav.nav-pills.nav-stacked
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
            Comprar
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Venta
            %li
              %a{:href => "#"} Compra
            %li
              %a{:href => "#"} Anticretico
  .col-md-2
    .btn-group
      %ul.nav.nav-pills.nav-stacked
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
            Casas
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Casa
            %li
              %a{:href => "#"} Edificio
            %li
              %a{:href => "#"} Departamento
            %li
              %a{:href => "#"} Oficina
            %li
              %a{:href => "#"} Terreno
            %li
              %a{:href => "#"} Garaje
            %li
              %a{:href => "#"} Baulera
            %a{:href => "#"} Baulera
  .col-md-2
    .btn-group
      %ul.nav.nav-pills.nav-stacked
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
            Region
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Santa cruz
            %li
              %a{:href => "#"} Cochabamba
            %li
              %a{:href => "#"} La Paz
            %li.divider
            %li
              %a{:href => "#"} El Alto
  .col-md-2
    .btn-group
      %ul.nav.nav-pills.nav-stacked
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#"}
            Area
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
  .col-md-1
    %a.btn.btn-primary{:href => "#", :role => "button"} <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  .col-md-2
    %form.form-inline
      .form-group
      %input{:placeholder => "Codigo inmueble. Ej:123", :type => "text"}/
  .col-md-1
    %button.btn.btn-primary{:type => "submit"} <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
%hr/
.row
  .col-md-12
    %hr/
    %h2 Autoplay
    .slider.autoplay
      .multiple
        = image_tag("terreno.jpg")
        %h6 1
      .multiple
        %h6 2
      .multiple
        %h6 3
      .multiple
        %h6 4
      .multiple
        %h6 5
      .multiple
        %h6 6
%hr/
.row
  .col-md-6
    %table.table.table-striped.table-hover
      %thead
        %h4 Inmuebles Ofertados Recientemente
        %tr
          %th Fecha
          %th Titulo
          %th Region/Zona
          %th Precio ($))
      %tbody
        %tr
          %td 21/06
          %td Column content
          %td Column/content
          %td Column content
        %tr
          %td 21/06
          %td Column content
          %td Column/content
          %td Column content
        %tr
          %td 21/06
          %td Column content
          %td Column/content
          %td Column content
  .col-md-6
    %table.table.table-striped.table-hover
      %thead
        %h4 Inmuebles Solicitados Recientemente
        %tr
          %th Fecha
          %th Titulo
          %th Region/Zona
          %th Precio ($))
      %tbody
        %tr
          %td 21/06
          %td Column content
          %td Column content
          %td Column content
        %tr
          %td 21/06
          %td Column content
          %td Column content
          %td Column content
        %tr
          %td 21/06
          %td Column content
          %td Column content
          %td Column content
.row
  .col-md-6.jumbotron
    %ul#interest_tabs.nav.nav-tabs
      / top level tabs
      %li
        %a{"data-toggle" => "tab", :href => "#all"} Todo
      %li
        %a{"data-toggle" => "tab", :href => "#brands"} Venta
      %li
        %a{"data-toggle" => "tab", :href => "#media"} Alquiler
    / top level tab content
    .tab-content
      / all tab menu
      #all.tab-pane
        %ul#all_tabs.nav.nav-tabs
          %li
            %a{"data-toggle" => "tab", :href => "#all_popular"} Casa
          %li
            %a{"data-toggle" => "tab", :href => "#all_unique"} Dpto
      / brands tab menu
      #brands.tab-pane
        %ul#brands_tabs.nav.nav-tabs
          %li
            %a{"data-toggle" => "tab", :href => "#brands_popular"} Casas
          %li
            %a{"data-toggle" => "tab", :href => "#brands_unique"} Dpto
      / media tab menu
      #media.tab-pane
        %ul#media_tabs.nav.nav-tabs
          %li
            %a{"data-toggle" => "tab", :href => "#media_popular"} Casas
          %li
            %a{"data-toggle" => "tab", :href => "#media_unique"} Dpto

    / all tab content
    .tab-content
      #all_popular.tab-pane
        %i todas las casas  aqui
      #all_unique.tab-pane
        %i todos los dptos aqui
    / brands tab content
    .tab-content
      #brands_popular.tab-pane
        %i casas en venta
      #brands_unique.tab-pane
        %i ventas dptos
    / media tab content
    .tab-content
      #media_popular.tab-pane
        %i casas alquiler
      #media_unique.tab-pane
        %i dptos en alquiler

  .col-md-6
    .panel.panel-primary
      .panel-heading
        %h2.panel-title Agente de bienes raices?
      .panel-body
        Me falta oner imagen y descripcion de lujo para que se animen , etc etc
    .panel.panel-primary
      .panel-heading
        %h2.panel-title Anunciante particular?
      .panel-body
        Me falta poner imagen y descripcion de lujo para que se animen , etc etc
    %table.table.table-striped.table-hover
      %thead
        %h4 Foro
        %tr
          %th Fecha
          %th Pregunta
          %th Autor
          %th Respuetas
      %tbody
        %tr
          %td 21/06
          %td b bla bla blalbl
          %td Column/content
          %td 3
        %tr
          %td 21/06
          %td Column content
          %td Column/content
          %td 4
        %tr
          %td 21/06
          %td Column content
          %td Column/content
          %td 7
