%h1 Solicitud de inmueble
.row
  .col-md-6
    = render 'form'
  .col-md-6
    .jumbotron.panel-primary
      %h3 Atencion!
      %p Su solicitud sera publicada en el sitio y tambien enviada a los agentes inmobiliarios registrados en casasmap.com
      %p Esperamos que encuentre pronto el inmueble que busca.
      %p Gracias por usar casasmap.com
