.container.text-center
  %hr/
  .row
    .col-lg-12
      .col-md-3
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{:href => "#"} Acerca de
          %li
            %a{:href => "#"} Blog
      .col-md-3
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{:href => "#"} Como anunciar
          %li
            %a{:href => "#"} Anunciar Inmueble
      .col-md-3
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{:href => "#"} Cuenta profesional
          %li
            %a{:href => "#"} Formas de pago
      .col-md-3
        %ul.nav.nav-pills.nav-stacked
          %li
            %a{:href => "#"} Facebook
          %li
            %a{:href => "#"} Twitter
  %hr
    .row
      .col-lg-12
        %ul.nav.nav-pills.nav-justified
          %li
            %a{:href => "/"} © 2015 CasasMap.com
          %li
            %a{:href => "#"} Terminos de uso
          %li
            %a{:href => "#"} Privacidad